body {
    height: 100vh;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    font-weight: bold;
}

.wrap1 {
    display: flex;
}
.wrap1 div {
    width: 120px;
    height: 70px;
    border: 2px solid lightskyblue;
    margin: 20px;
    /* 글자의 div 에 flex 해야 중앙 정렬 됨 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap2 {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
}
.wrap2 button {
    width: 70px;
    height: 50px;
    background: lightcoral;
    margin: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background: lightpink;
}