html, body {
    height: 100%;
}
body {
    /*
    1. height: 100%;
    선택자 즉, 자식요소가 들어있는 부모의 100%를 채우겠다는 말.

    2. height: 100vh;
    100%의 뷰 하이를 다 쓰고 싶다는 의미.
    */
    /*width: 100vw;*/
    /*height: 100vh;*/

    margin: 0;
    padding: 0;
}

.left {
    width: 340px;
    height: 100%;
    background: #2a2b2b;
    float: left;

    /*left: 0;*/
    /*top: 0;*/
    /*float: left;*/
}
.contents {
    /*width: calc(100vw - 340px);*/
    width: calc(100% - 340px);
    height: 100%;
    background: orangered;
    float: left;

    /*margin-left: 340px;*/
}