@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0 80px 0;
}
.h1 {
    border-bottom: 2px solid black;
}

.wrap {
    width: 350px;
    margin: 200px auto 0 auto;
    height: 50px;
    background: #0d0c0c;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
.wrap .star {
    line-height: 55px;
}
.wrap > .message {
    width: 150px;
    text-align: end;
    line-height: 48px;
}

.star .fa.gold {
    color: gold;
    text-shadow: 0 0 5px gold;
}
.star > i {
    font-size: 28px;
    color: black;
    cursor: pointer;
}
.message > span {
    font-size: 18px;
    color: white;
}
.message > i {
    font-size: 18px;
    color: gold;
}