.box {
    width: 200px;
    height: 200px;
    background: red;
    margin-left: 100px;
    margin-top: 100px;
/*
    margin: top right bottom left
    margin: y축 x축
 */
}
.box2 {
     width: 200px;
     height: 200px;
     background: orange;
     padding-left: 100px;
     padding-top: 100px;
 }
.box3 {
    width: 200px;
    height: 200px;
    background: dodgerblue;
    border: 10px solid black;
}
/*
    margin : 해당 div 객체,요소에 바깥쪽 여백
    padding : 안쪽 여백 / 여백 생긴만큼 늘어남
*/