body {
    height: 600vh;
}
div {
    height: 600px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;  /* 대문자로 */
    line-height: 1.2;
}

.bg1 {
    height: 50px;
    background: red;
}
.bg2 {
    background-color: blue;
    background-image: url("../images/img01.PNG");
}
.bg3 {
    background-color: orange;
    background-image: url("../images/img01.PNG");
    background-repeat: no-repeat;
    /*background-repeat: repeat-x;*/
    /*background-repeat: repeat-y;*/
    /*background-repeat: repeat;*/
}
.bg4 {
    background-color: green;
    background-image: url("../images/img01.PNG");
    background-repeat: no-repeat;
    /* background-position: x축 y축; */
    /*background-position: left center;*/
    background-position: 150px 100px;
}
.bg5 {
    background-color: purple;
    background-image: url("../images/img01.PNG");
    background-repeat: no-repeat;
    /*background-size: 100%;*/
    /*background-size: width height;*/
    /*background-size: 200px 200px;*/
    /*background-size: cover; !* 박스 사이즈랑 사진 사이즈 비슷할때 *!*/
    background-size: contain; /* 점점 커지면서 세로축 또는 가로축에 먼저 닿으면 멈춤 */
}
.bg6 {
    background-color: pink;
    background-image: url("../images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* 이미지 위치가 절대적임 스크롤해도 고정 */
}
.bg7 {
    background: black url("../images/img01.PNG") no-repeat 150px 100px / 300px fixed;
    /*
    150px 50px / 300px
    x축 y축 포지션 / 사이즈
    */
}

.bg8 {
    position: relative;
    height: 900px;
}
.bg8 img {
    width: 100%;
    height: 100%;
}
.bg8 .box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    /*background: linear-gradient(to right, orange, orangered, red);*/
    background: linear-gradient(90deg, blue, transparent);
    /* transparent 투명 */
}